<div class="booyah-box col-10 offset-1">
  <h1>Enter New Task</h2>
  <%= simple_form_for @tasks do |t| %>
    <%= t.input :item %>
    <%= t.input :user %>
    <%= t.submit 'Create', class:'btn btn-primary' %>
  <% end %>
</div>
