<div>
  <h1>The Fire Hose Project</h1>
  <h1>Quiz #1</h1>
</div>
<hr>
<div>
  
<div class="booyah-box">
  <h2>Requirements:</h2>
  <ul>
    <li>This should be a rails application, not a plain HTML page.</li>
    <li>The web application has a page with static content on it.</li>
    <li>The web application is hosted on heroku.</li>
    <li>The code for the application is hosted up on GitHub.</li>
    <li>There is a headline on the page of the application that is a non-black color.</li>
  </ul>
</div>

<div class="booyah-box">
  <h2>Submitted By: Justin Bland</h2>
</div>
